:root {
  --vp-font-family-base: 'LXGW Bright Medium', serif;
  --vp-font-family-mono: 'DM Mono', monospace;
  --vp-doc-top-height: 5rem;
}

#VPSidebarNav {
  margin-top: var(--vp-doc-top-height);
}

.main h2 {
  margin-top: 1rem;
  border-top: 0;
}
